[Unit]
Description=VPN Status Monitor Service

[Service]
ExecStart=/bin/bash /home/%i/vpn_status.sh
WorkingDirectory=/home/%i
User=%i
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
