[Unit]
Description=Run VPN Status Monitor for %i every 5 seconds

[Timer]
OnBootSec=5s
OnUnitActiveSec=5s
AccuracySec=1s
Unit=vpn-status@%i.service

[Install]
WantedBy=timers.target
